
  .bg-primary-chip{
    background: rgba(4, 165, 246, 0.12)
  }
  .bg-pending{
    background:rgba(234, 49, 49, 0.1);
  }
  .bg-executed{
    background-color: #C9FAE7;
  }
  .text-pending{
    color:#C443EB;
  }
  .bg-waiting{
    background: rgba(82, 110, 255, 0.24);
  }
  .text-waiting{
    color:#04A5F6;
  }
  .bg-earned{
    background:rgba(242, 156, 90, 0.3);
  }
  .bg-value{
    background: rgba(40, 238, 161, 0.25);;
  }
  // background color
  .bg-primary-light {
    background-color: #04a5f6;
  }
  .bg-primary-soft{
    background-color:rgba(40, 238, 161, 0.1);
  }
  .bg-secondary-light {
    background-color: #dfe6ec;
  }
  .bg-secondary-soft {
    background: #E6F6FF;
  }
  .bg-completed{
    background: rgba(217, 97, 237, 0.1);
  }
  .bg-success-light {
    background-color: #26BF88;
  }
  .bg-success-soft {
    background-color: #E6F6FF;
  }
  .bg-warning-light {
    background-color: #DCB52C;
  }
  .bg-warning-soft {
    background: #FCF8EA;;
  }
  .bg-danger-light{
    background-color: #DB524E;
  }
  .bg-danger-soft {
    background: rgba(234, 49, 49, 0.1);;
  }
  
  .bg-light-light {
    background-color: #f5f7f9;
  }
  .bg-white {
    background-color: #fff;
  }
  // text color
  .text-primary-light {
    color: #04a5f6;
  }
  .text-success-light {
    color: #26BF88;
  }
  .text-warning-light {
    color: #DCB52C;
  }
  .text-danger-light {
    color: #DB524E;
  }
  .text-secondary-light {
    color: rgba(17, 17, 17, 0.64);;
  }
.text-completed-light{
  color:#B980F0;
}
  .text-helper {
    color: rgba(17, 17, 17, 0.48);
  }
  .text-helper2{
    color: #182744;
  }
  .text-helper3{
    color: rgba(17, 17, 17, 0.32);
  }

 