@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.title-text {
    font-weight: 600;
    font-size: 28px;
  }
  .title-text2 {
    font-weight: 600;
    font-size: 22px;
  }
  .title-text3 {
    font-weight: 600;
    font-size: 18px;
  }
  .menu-text {
    font-weight: 500;
    font-size: 14px;
  }
  .subtitle-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .subtitle-text2{
    font-weight: 500;
    font-size: 20px;
    color: #182744;
  }
  .subtitle-text3{
    font-weight: 600;
    font-size: 16px;
    color: #182744;
  }
  .subtitle-text4{
    font-weight: 500;
    font-size: 16px;
    color: #182744;
  }
  .para-text{
    font-weight: normal;
    font-size: 14px;
    color: #182744;
  }
  .helper-text {
    font-size: 12px;
    line-height: 18px;
    color: rgba(17, 17, 17, 0.48);
  }
  .helper-text2 {
    font-size: 16px;
    line-height: 18px;
    color: rgba(17, 17, 17, 0.48);
  }
  .helper-text3 {
    font-size: 14px;
    color: rgba(17, 17, 17, 0.48);
  }
  .helper-text4{
    font-size: 12px;
    font-weight: 500;
  }
  .helper-text5{
    font-size: 12px;
    font-weight: 600;
    color: rgba(17, 17, 17, 0.48);
  }
  .table-data {
    font-size: 14px;
    color: rgba(17, 17, 17, 0.64);
  }
  .text-date{
    font-size: 12px;
    font-weight: 600;
  }
  .data-head{
    font-weight: 500;
    font-size: 16px;
    color: #182744;
  }
  .data1{
    font-weight: 600;
    font-size: 18px;
    color: #182744;
  }
  .data2{
    font-weight: 500;
    font-size: 14px;
    color: #182744;
  }
  .visible1{
    color: rgba(17, 17, 17, 0.64);
  }
  .visible2{
    color: rgba(17, 17, 17, 0.48);
  }